@media screen and (max-width: 1024px) {

    h1 {

        font-size: 42px;

        line-height: 56px;

    }


    #hamburger-content {

        display: none;

    }


    #hamburger-button, #hamburger-sidebar,

    .hamburger-activated #hamburger-overlay {

        display: block;

    }


    .hamburger-activated #hamburger-sidebar {

        transform: translateX(0);

    }

}